/* ===== Base ===== */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d6ccd6;
}

/* ===== Title ===== */
header h1 {
  text-align: center;
  font-size: 48px;
  margin: 30px 0 10px 0;
}

/* ===== Top Bar ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  border-bottom: 2px solid #000000;
}

header button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/* ===== Reminder Section ===== */
.reminder-section {
  margin: 0 15px;
}

.reminder-section > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: none;
}

.reminder-section > header h2 {
  margin: 0;
  font-size: 28px;
}

.reminder-section > header button {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

/* ===== Reminder List ===== */
#reminderList {
  list-style: none;
  padding: 20px;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.category-header {
  grid-column: 1 / -1;
  list-style: none;
  background: transparent;
  box-shadow: none;
  padding: 0;
}
.category-header h3{
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 22px;
  color: #3c1a47;
}

#reminderList li:not(.category-header) {
  background: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 20px;
  font-size: 18px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  min-height: 120px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.reminder-actions {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  margin-top: auto;
}
#reminderList input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
#reminderList li:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}
label {
  display: block;
  margin-bottom: 10px;
}
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
.edit-btn {
  border: none;
  background: #ddd;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  font-size: 14px;
}
.delete-btn {
  border: none;
  background: #e74c3c;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 16px;
}
.edit-btn:hover {
  background: #bbb;
}

.delete-btn:hover {
  background: #c0392b;
}

/* ===== Modal Overlay ===== */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* ===== Modal Box ===== */
.modal > section {
  background: #ffffff;
  padding: 40px;
  width: 450px;
  border-radius: 40px;
  border: 2px solid rgb(145, 30, 190);
  text-align: center;
}

.modal > section h2 {
  font-size: 32px;
  margin-bottom: 25px;
}

.modal > section input,
.modal > section textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

.modal > section label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

.modal > section input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/* ===== Buttons ===== */
#createUserBtn {
  background-color: #3fa058;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
}

#loginBtn {
  background-color: #330fff;
  color: white;
  border: none;
  padding: 10px 40px;
  font-size: 18px;
  cursor: pointer;
  width: 80%;
}

#closeUserModal {
  margin-left: 10px;
  background: none;
  border: 1px solid white;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 14px;
  min-height: 20px;
  margin-bottom: 10px;
}

#usersList {
  list-style: none;
  padding: 0;
}

#usersList li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#usersList button {
  background: darkred;
  color: white;
  border: none;
  padding: 5px 10px;
}